#blog-desc {
    color: #314831
}

#blog-title:hover {
    color: orange;
}

main {
    width: 70%;
    display: inline-block;
}

aside {
    display: inline-block;
    width: 21%;
    vertical-align: top;
    margin-left: 4%;
}

.widget {
    border-top: 4px solid black;
}

.widget input {
    display: block;
    background-color: #F7F7F7;
    margin-bottom: 4px;
    padding: 4px;
}

button[type = "submit"] {
    font-size: 1.2rem;
    background-color: black;
    color: white;
    padding: 10px;
}

.widget-title {
    font-size: 1.5rem;
}